@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Libre Caslon Text', serif;
}

code, .font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
